@model RamMyERP3.Models.Ram

@{
    ViewData["Title"] = "Create";
}

<div class="card">


    <!-- Tabstrip -->
    <ul class="nav nav-tabs md-tabs" role="tablist">

        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home7" role="tab"><i class="icofont icofont-home"></i>Informations Ram</a>
            <div class="slide"></div>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content card-block">

        <div class="tab-pane active" id="home7" role="tabpanel">
            @await Html.PartialAsync("_AjouterInfoRam", Model)
        </div>
      
    </div>
</div>

<div>
    <a asp-controller="Rams" asp-action="Index">Back to List</a>
</div>


@section Styles {
    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css" href="~/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/files/assets/pages/data-table/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
    <!--forms-wizard css-->
    <link rel="stylesheet" type="text/css" href="~/files/bower_components/jquery.steps/css/jquery.steps.css">
    <link rel="stylesheet" type="text/css" href="~/files/assets/scss/style.css">

}

@section Scripts {
    <!-- data-table js -->
    <script src="~/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/files/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="~/files/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="~/files/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="~/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <!--Forms - Wizard js-->
    <script src="~/files/bower_components/jquery.cookie/js/jquery.cookie.js"></script>
    <script src="~/files/bower_components/jquery.steps/js/jquery.steps.js"></script>
    <script src="~/files/bower_components/jquery-validation/js/jquery.validate.js"></script>
    <!-- Custom js -->
    <script src="~/files/assets/pages/forms-wizard-validation/form-wizard.js"></script>
    <script src="~/files/assets/pages/data-table/js/data-table-custom.js"></script>


}